@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&family=Varela+Round&display=swap');

body{
    background-color: antiquewhite;
}
*{
    margin: 0;
    padding: 0;
}

nav{
    font-family: 'Ubuntu', sans-serif;
}

nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 75px;
    background-color: rgba(9, 13, 15, 0.884);
    color: white;
}
nav ul li{
    padding: 0 12px;
}
.brand img{
    width: 94px;
}
.brand{
    display:flex;
    align-items: center;
    color: rgb(18, 29, 222);
    font-weight: bolder;
    font-size: 1.5rem;
}

nav form{
    margin: 20px 200px;
    width: 80%;
}
nav form input{
    height: 40px;
    width:40%;
    border-radius: 5px;
    background-color: rgba(240, 255, 255, 0.862);
}
nav form button{
    height:30px;
    width:14%;
    margin:0 24px;
    color: black;
    background-color: rgb(229, 213, 209);
    border-radius: 10px;
}

.container{
    min-height: 70vh;
    background-color: black;
    color: rgb(227, 119, 56);
    font-family: 'Varela Round', sans-serif;
    display: flex;
    border-radius: 12px;
    padding: 34px;
    margin:12px auto;
    width: 70%;
    background-image: url('dark-background.jpg');

}
.container img{
    max-width: 90%;
    margin: p0 24px;
}
.bottom{
    position: sticky;
    height: 120px;
    background-color: black;
    color: white;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.icons{
    margin-top: 14px; 
}

#myProgressBar{
    width: 80vw;
    cursor: pointer;
}
.songItemContainer{
    margin-top: 64px;
}

.songItem{
    height: 50px;
    display: flex;
    background-color: rgb(232, 102, 102);
    width: 80%;
    color: black;
    margin: 10px 0;
    justify-content: space-around;
    align-items: center;
    border-radius: 25px;
}
.songItem img{
    width: 43px;
    margin: 0 23px;
}
.timestamp{
    margin:0 23px;
}
.timestamp i{
    cursor: pointer;
}

.songInfo{
    position: absolute;
    left: 10vw;
    font-family: 'Varela Round', sans-serif;
}

.songInfo img{
    opacity: 0;
    transition: opacity 0.4s ease-in;
}